.slide.ng-hide-add,
.slide.ng-hide-remove
{
  -webkit-transition: all linear 3.5s;
  -moz-transition: all linear 3.5s;
  -o-transition: all linear 3.5s;
  transition: all linear 3.5s;
  display: block!important;
}
.slide.ng-hide-add.ng-hide-add-active
.slide.ng-hide-remove {
  opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

.slide {
	width: 100%;
	height: 400px;
	overflow: hidden;
}

.slideimg {
	width: 100%;
	height: 100%;
  position: relative;
}

.thumbnail_holder { 
  padding: 5px 5px 5px 5px; 
  min-height: 200px !important;    
  text-align: center;
}

.thumbholder_label {
  margin-top: 70px;
  margin-bottom: 70px;
}