<!DOCTYPE html>
<html>
<head>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- Custom CSS -->
	<link href="css/simple_sidebar.css" rel="stylesheet">
	<link href="css/gallery_view.css" rel="stylesheet">
	<link href="css/slider.css" rel="stylesheet">
	<link href='css/font-awesome-4.6.1/css/font-awesome.css' rel='stylesheet'/>
	<link href='angular-busy/dist/angular-busy.css' rel='stylesheet'/>
  
</head>
<body ng-app="sliderApp" ng-controller="sliderCtrl" ng-init="initSlider()">
	<div id="wrapper" ng-controller="toggleCtrl" ng-class="{ toggled: toggler == true }">
		<div ng-include="'templates/sidebar.html'"></div>
	  <!-- Page Content -->
	  <div id="page-content-wrapper">
	  	<div class="container-fluid bottom_buffer">
	  		<a ng-click="toggle()" class="btn btn-default pull-right" id="menu-toggle">Toggle Menu</a>
	  	</div>
	  	<div class="container-fluid">
	  		<slider slides="slides" ng-if="slidesLoaded &amp;&amp; noneCounter"/>
	  	</div>

	  		<div "row-fluid" ng-repeat="slide in slides | orderBy : 'orderId'" ng-if="slidesLoaded">
	  				<div slidethumb-nail>
	        	</div>
	  		</div>
	  	<div class="container-fluid top_buffer">
	  		<div ng-include="'templates/paginator_control.html'" ng-show="totalImages > 18"></div>
	  		<form id="sliderCheck" ng-submit="submitCheckedSlides()">
	  			<div ng-include="'templates/img_thumb_page_dragdrop.html'" ng-if="imagesLoaded"></div>
	  		</form>
	  	</div>
	  </div>
	</div>
	  <!-- /#page-content-wrapper -->



<script src="angular/angular.js"></script>
<script src="angular-animate/angular-animate.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript" src="angular-dragdrop/src/angular-dragdrop.min.js"></script>

<script type="text/javascript" src="angular-busy/dist/angular-busy.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="js/angular_apps/slider_dragdrop_app.js"></script>
<script type="text/javascript" src="js/angular_apps/gallery_view_app_dragdrop.js"></script>
<script type="text/javascript" src="js/angular_apps/toggle_sb.js"></script>

</body>
</html>