table { border-collapse: collapse; }
.percent {
    position: absolute; width: 300px; height: 14px; z-index: 1; text-align: center; font-size: 0.8em; color: white;
}
.progress-bar {
    width: 300px; height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
}
.uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}
.dropbox {
    /*height: 4em;*/
    border: 2px solid #DDD;
    border-radius: 8px;
    background-color: #FEFFEC;
    text-align: center;
    color: #BBB;
    font-size: 2em;
    font-family: Arial, sans-serif;
}
.dropbox span{
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-block;
}
.dropbox.not-available {
  background-color: #F88;
}
.dropbox.over {
  background-color: #bfb;
}

label{
  color: color: #BBB;;
  cursor: pointer;
}

#fileToUpload{
  display:none;
}

.bottom_buffer {
  margin-bottom: 20px;
}

.top_buffer {
  margin-top: 60px;
}

.center_ul {
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.alert {
  font-size: 0.5em;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.cg-wrap {
  display: flex;
  justify-content: center;
}

.cg-center {
  left: -12px;
  align-self: center;
}

.control-center {
  text-align: center;
}

.thumbnail {
  margin-bottom: 0px;
}

.fullimgcontainer {
  max-width: 800px;
  max-height: 600px;
  min-height: 400px;
}

.img-resize {
  max-width: 800px;
  max-height: 600px;
  min-height: 400px;
}

.auto-modal.modal .modal-dialog{
  max-height: 100%;
  width: 830px;
}

.fullimage-wrap {
  display: flex;
  justify-content: center;
}

.fullimage-center {
  align-self: center;
}

.gallery-control {
  position: absolute;
  bottom: 10px;
  font-size: 3em;
  color: #777;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.gallery-control a{
  color: #777;
}

.gallery-control a:hover{
  color: #333;
}
