 <!-- Sidebar -->
 <div id="sidebar-wrapper">
 	<ul class="sidebar-nav">
		<li class="sidebar-brand">
			<a href="#">
					Argus Biotix
			</a>
		</li>
		<li>
			<a href="/admin/navbar">Navigation{{name}}</a>
		</li>
		<li>
			<a href="#">Products</a>
		</li>
		<li>
			<a href="#">Results</a>
		</li>
		<li>
			<a href="#">Languages</a>
		</li>
		<li>
			<a href="/admin/gallery">Gallery</a>
		</li>
		<li>
			<a href="/admin/slider">Slider</a>
		</li>
		<li>
			<a href="/admin/slider_dragdrop">Slider Drag Drop</a>
		</li>
		<li>
			<a href="/admin/newseditor">News</a>
		</li>
		<li>
			<a href="#">Documents</a>
		</li>
		<li>
  		<a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
		</li>
	</ul>
</div>
<!-- /#sidebar-wrapper -->