<div class="col col-sm-2 thumbnail_holder"
    id="slide{{$index}}"
    data-drop="true" 
    ng-model='slides' 
    data-jqyoui-options="{accept:'.thumb_draggable:not([ng-model=slides])'}"
    jqyoui-droppable="{onDrop: 'thumbDropped()'}">
  <div class="thumbnail">
    <img ng-src="uploads/thumbnails/thumb_{{slide.filename}}" ng-if="slide.filename != 'none'"/> 
    <div class="thumbholder_label" 
        ng-show="slide.filename == 'none'">
        Add slide here dragging from gallery below
    </div>
  </div>
  <div class="control-center">
      <a ng-click="remove(slide.orderId)" ng-show="slide.filename != 'none'"><i class="fa fa-trash"></i></a>
    </div>
</div>