<div class="col col-sm-2" ng-if="localIndex < images.length">
  <div class="cg-wrap">
    <div cg-busy="promises[images[localIndex].filename]" class="cg-center"></div>
  </div>
  <div class="thumbcontainer">
    <a ng-controller="fullImgModalCtrl" ng-click="open(localIndex)" class="thumbnail">
        <img ng-src="uploads/thumbnails/thumb_{{images[localIndex].filename}}"/>      
    </a>
    <input type="checkbox" class="thumbcheckbox" form="sliderCheck" ng-model="cbModel[localIndex]">
    <div class="control-center">
      <a ng-click="rotate(images[localIndex].filename)"><i class="fa fa-rotate-right"></i></a>
      <span>{{images[localIndex].size / 1024 / 1024 | number:2}} MB</span>
    </div>
  </div>
</div>